<div class="page-header">
<br>
  <h2>Banco web</h2>
</div>

	<br>
	<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 " align="center">
		<p class="light">Ingresa tus datos</p>
	<form class="col-md-6">
  <div class="form-group">
   
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email" #email>
  </div>
  <div class="form-group">
   
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" #password>
  </div>
 
  <button type="button" class="btn btn-primary btn-block" (click)='login(email.value, password.value)'  >Ingresar</button>
</form>

</div>

</div>
